@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Righteous&family=Sarala:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-size: 100%;
    background: rgb(230, 224, 187);
}

/* Aqui é o Header */

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


#cabecalhoimagem{
    width: 5cm;
    border-radius: 65px;
    float: left;
    transition: width 1s;
}

#cabecalhoimagem:hover{
    width: 7cm;
}

#cabecalhomenunav{
    display: flex;
    gap: 32px;
}

.cabecalhomenu{
    font-family: 'Sarala', sans-serif;
    color: rgb(13, 15, 69);
    font-weight: 400;
    font-size: 18px;
    transition: color 0.5s,font-size 0.5s;
}

nav a:hover{
    color: rgb(168, 169, 196);
    font-size: 20px;
}
/* Aqui é o Main */

#conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(13, 15, 69);
}

#conteudoprincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#conteudoprincipalescrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#conteudoprincipalescritotitulo{
    font-family: 'Righteous', cursive;
    color: rgb(13, 15, 69);
    font-size: 64px;
    font-weight: 400;
}

#conteudoprincipalescritosubtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(13, 15, 69);
}

#conteudoprincipalescritobotao{
    background-color: rgb(13, 15, 69);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgb(99, 99, 99);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    transition: width 0.5s,height 0.5s;
}

#conteudoprincipalescritobotao:hover{
    background-color: rgb(54, 54, 95);
    width:190px;
    height:70px;
}

.conteudoprincipalimagem{
   border-radius: 30px;
   width: 4cm;
   padding: 10px;
   transition: width 1s;
}

.conteudoprincipalimagem:hover{
    width: 5cm
}


#conteudosecundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin: auto;
}

#conteudosecundariotitulo{
    border-top: 0.4px solid rgb(0, 0, 0);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    color: rgb(13, 15, 69);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    transition: font-size 0.5s;
}

#conteudosecundariotitulo:hover{
    font-size: 28px;
}

.conteudosecundarioparagrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(13, 15, 69);
}

#rodape{
    padding: 32px;
    border-top: 0.4px solid rgb(0, 0, 0);
}

#rodapeimagem{
    height: 48px;
    display: block;
    margin: 0 auto;

}

.margem{
    height: 40px;
    border-radius: 3px;
}